<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>404 Page</title>
  </head>
  <body>
    <main class="error-page-style">
      <h2>OOPS!! We cannot find the page you're looking for.</h2>
    </main>
    <img src="/img/404.jpg" alt="404 image" class="error-image" />
  </body>
</html>
